.card-style {
  width: 300px;
  margin: 10px 0px;
  padding: 20px;
  box-shadow: 5px 5px 20px #888888;
  background-color: whitesmoke;
  border-radius: 1rem;
}
.img-animation {
  width: 250px;
  height: 200px;
}
.img-animation:hover {
  width: 200px;
  height: 180px;
  opacity: 0.7;
  transition-duration: 2s;
}
