.dashboard{
    background-color: bisque;
    width: 300px;
    border-radius: 0 2rem 2rem 0;
    height: 100vh;
}
.dashboard li{
    margin: 20px;
}
.link-style{
    padding: 5px;
    border-radius: 6px;
    border: 2px solid red;
    text-decoration: none;
}
.link-style:hover{
    text-decoration: none;
    color: crimson;
}